/*@import 'tailwindcss';*/

@import 'normalize.css';
@import './scss/app.scss';

@import '@tabler/core';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans'
    , ui-sans-serif, system-ui
    , sans-serif
    , 'Apple Color Emoji'
    , 'Segoe UI Emoji'
    , 'Segoe UI Symbol'
    , 'Noto Color Emoji';
}

[data-bs-theme=dark] {
    a {
        color: #fff;
    }
}

.container {
    max-width: 1080px;
}

.avatar-xll {
    --tblr-avatar-size: 8rem
}

.block {
    margin-bottom: 2rem;
}

/**
 * @todo move to other .css file
 */
.gjsu-avatar * {
    margin: 8px;
    padding: 0;
}

.gjsu-avatar-right-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: -1px;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.gjsu-avatar-icon-premium {
    background-image: url('/static/media/premium.svg');
}

.gjsu-avatar-frame {
    border: solid 5px white;
    border-radius: 50%;
    z-index: 1;
}

.gjsu-avatar-frame-red {
    border-color: red;
}

/**
 * @todo move to other .css file
 */
.personal-social-info {
    display: flex;
    align-items: center;
    position: relative;
}

.personal-social-info > span {
    position: relative;
    display: inline-block;
}

.personal-social-info-text,
.personal-social-info-detach {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: opacity .15s 0s ease-in, max-height 0s .15s ease-in;
    white-space: nowrap;
}

.personal-social-info-text {
    opacity: 1;
}

.personal-social-info-detach {
    opacity: 0;
}

.personal-social-info:hover .personal-social-info-text {
    opacity: 0;
}

.personal-social-info:hover .personal-social-info-detach {
    opacity: 1;
}
