/*@import 'tailwindcss';*/

@import 'normalize.css';
@import './scss/app.scss';

@import '@tabler/core';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
    max-width: 1080px;
}

.avatar-xll {
    --tblr-avatar-size: 8rem
}

.block {
    margin-bottom: 2rem;
}

/**
 * @todo move to other .css file
 */
.gjsu-avatar-right-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: -1px;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.gjsu-avatar * {
    margin: 8px;
    padding: 0;
}

.gjsu-avatar-icon-premium {
    background-image: url('/static/media/premium.svg');
}
