@use "sass:list";

.subheadline {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-width: 5px !important;
    border-left: var(--tblr-border-width) var(--tblr-border-style) rgba(216, 221, 228, 1);
    background-color: rgba(var(--tblr-secondary-lt-rgb), var(--tblr-bg-opacity));
    --tblr-bg-opacity: 1;

    a {
        &:hover {
            color: red!important;
        }
    }

    $colors: (
        "blue":   (0, 84, 166),
        "azure":  (66, 153, 225),
        "indigo": (66, 99, 235),
        "purple": (174, 62, 201),
        "pink":   (214, 51, 108),
        "red":    (214, 57, 57),
        "orange": (247, 103, 7),
        "yellow": (245, 159, 0),
        "lime":   (116, 184, 22),
        "green":  (47, 179, 68),
        "teal":   (12, 166, 120),
        "cyan":   (23, 162, 184),
    );

    @each $color-name, $color-rgb in $colors {
        &.#{$color-name} {
            color: rgb(list.nth($color-rgb, 1), list.nth($color-rgb, 2), list.nth($color-rgb, 3));
            border-left: var(--tblr-border-width) var(--tblr-border-style) rgba(list.nth($color-rgb, 1), list.nth($color-rgb, 2), list.nth($color-rgb, 3), 0.8);
            background-color: rgba(var(--tblr-#{$color-name}-lt-rgb), var(--tblr-bg-opacity));

            a {
                color: rgb(list.nth($color-rgb, 1), list.nth($color-rgb, 2), list.nth($color-rgb, 3));

                // &:hover {
                //     color: rgba(list.nth($color-rgb, 1), list.nth($color-rgb, 2), list.nth($color-rgb, 3), 0.8);
                // }
            }
        }
    }
}
